<div class="row">
    <div class="col-md-5">
        <vip-details [vip]="selectedVip" [createHandler]="addVip" [updateHandler]="updateVip"
            [deleteHandler]="deleteVip">
        </vip-details>
    </div>
    <div class="col-md-5 col-md-offset-2">
        <h2>VIPs</h2>
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let vip of vips" (click)="selectVip(vip)"
                [class.active]="vip === selectedVip">
                {{vip.name}}
            </li>
        </ul>
        <button class="btn btn-warning" (click)="createNewVip()">New</button>
    </div>
</div>