
<div class="row">
    <div class="col-md-5">
        <h5>Filter by Category:</h5>
            <div class="btn-group" role="group" aria-label="Basic example" style="margin-bottom:10px; display:flex; flex-wrap:wrap">
              <button type="button" class="btn btn-secondary" onclick="showOne('business')">Business</button>
              <button type="button" class="btn btn-secondary" onclick="showOne('musician')">Musicians</button>
              <button type="button" class="btn btn-secondary" onclick="showOne('leader')">Politicial Leaders</button>
              <button type="button" class="btn btn-secondary" onclick="showOne('actor')">Actors</button>
              <button type="button" class="btn btn-secondary" onclick="showOne('athlete')">Athletes</button>
            </div>
        <vip-details [vip]="selectedVip" [createHandler]="addVip" [updateHandler]="updateVip"
            [deleteHandler]="deleteVip">
        </vip-details>
    </div>
    <div class="col-md-5 col-md-offset-2">
        <h2>VIPs</h2>
        <ul class="list-group">
            <li class="list-group-item " *ngFor="let vip of vips" (click)="selectVip(vip)"
                [class.active]="vip === selectedVip">
                {{vip.name}}
            </li>
        </ul>
        <button class="btn btn-warning" (click)="createNewVip()">New</button>
    </div>
</div>