<div *ngIf="vip" class="row details">
    <div *ngIf="vip._id" class="card-container">
        <div id="topps61" class="cardRow" style="padding-top: 20px">
            <div style="display: flex; justify-content: center">
                <div id="vip-card" class="card" style="padding-top: 10px; padding-left: 10px">
                    <div class="photo" style="background:url({{vip?.yt}})"></div>
                    <div class="name">{{vip?.name}}<BR><span
                            style="color:yellow;font-size:10px;line-height:10px;">{{vip?.reason}}</span></div>
                    <div class="name2">{{vip?.detail}}</div>
                </div>
            </div>
        </div>

    <div class="col-md-12">
      <h2 *ngIf="vip._id" class="details-header">VIP Details</h2>
      <h2 *ngIf="!vip._id">New VIP</h2>
    </div>
  </div>
  <div *ngIf="vip" class="row" id="form-div">
    <form class="col-md-12">
      <div class="form-group">
        <label for="vip-name">Name</label>
        <input class="form-control" name="vip-name" [(ngModel)]="vip.name" placeholder=""/>
      </div>
      <div class="form-group">
        <label for="vip-occupation">Occupation Category</label>
        <input class="form-control" name="vip-occupation" [(ngModel)]="vip.occupation" placeholder=""/>
      </div>
      <div class="form-group">
        <label for="vip-detail">Team or Company</label>
        <input class="form-control" name="vip-detail" [(ngModel)]="vip.detail" placeholder=""/>
      </div>
      <div class="form-group">
        <label for="vip-reason">Accomplishment</label>
        <input class="form-control" name="vip-reason" [(ngModel)]="vip.reason" placeholder=""/>
      </div>
      <div class="form-group">
        <label for="vip-yt">URL of image/gif</label>
        <input class="form-control" name="vip-yt" [(ngModel)]="vip.yt" placeholder=""/>
      </div>
      <button class="btn btn-primary" *ngIf="!vip._id" (click)="createVip(vip)">Create</button>
      <button class="btn btn-info" *ngIf="vip._id" (click)="updateVip(vip)">Update</button>
      <button class="btn btn-danger" *ngIf="vip._id" (click)="deleteVip(vip._id)">Delete</button>
    </form>
  </div>
  